body{font-family:tahoma;font-size:10pt;margin:5px;}
a:active,a:visited,a:link{text-decoration:none;color:black;}
#bulle{position:absolute;background-color:#ffff88;display:none;width:auto;height:auto;border:1px solid black;padding:5px;font-family:tahoma;font-size:10pt;color:green;}